<!DOCTYPE html>
<html>
<head>
	<title></title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    button {
  background-color: #33A5FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}
button:hover {
  opacity: 0.8;
}
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item ">
        <a class ="nav-link" href="#" style="text-align: right;" >Login/logout</a> 
    </li>
     <li class="nav-item active ">
      <a  class ="nav-link" href="#"> user-name</a>
      </li>
      <li class="nav-item active ">
      <a  class ="nav-link" href="#"> Home</a>
      </li>
  </ul>
</nav>

<div class="container" style="padding-top: 10%;">
  <h2>Give us a Feedback on your experience</h2>
  <form method="post">
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<footer class="container-fluid text-center" style=" background-color: #777;
  padding-top: 10px; position: absolute; bottom: 0;
  text-align: center;background-color: black; opacity: 0.9;
  color: black;">
  <div class="row">
  <div class="col-lg-8" style="margin-left:0;margin-right:auto;" >
  <p style=" font-family:sans-serif; font-size: 15px; color: white; text-align: left;">
  Contact us: +91 9445937945 &emsp; 
mail us at :  casanova@gmail.com</p> </div>
<div class="col-lg-4" style="margin-left: auto;margin-right: 0; "><p style=" font-family:sans-serif; font-size: 15px; color:white;text-align: right;">&copy;  2019 Casanova All rights reseved</p></div></div>
</footer>
</body>
</html>